<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637790328645-daem8pta3sk07di3lc8pc8ll4c6ghotq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637790328645-daem8pta3sk07di3lc8pc8ll4c6ghotq</string>
	<key>API_KEY</key>
	<string>AIzaSyAPOcdqSO5x1AUsz58gHP2Yjpy7fDTlcc4</string>
	<key>GCM_SENDER_ID</key>
	<string>637790328645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-4078b</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-4078b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637790328645:ios:41f3818b85042f85cbd02c</string>
</dict>
</plist>